{% extends "blog/base.html" %}
{% load crispy_forms_tags %}
{% block head_extra %}
{{ form.media }}
{% endblock head_extra %}

{% block content %}
<div class="row">

    <div class="col-sm-6">
        <h1>Preview</h1>
        <div class="content-preview">
            <h3 class="pt-4" id="preview-title"></h3>
            {% if instance.image %}
            <img class="img-responsive" src="{{ instance.image.url }}" width="100%"/>
            {% endif %}
            <img class="img-responsive" id="preview-image" src="" width="100%"/>
            <br>
            {% if instance.video %}
            <iframe class="img-responsive" id="preview-video" width="100%" height="350" src="" frameborder="0"
                allow="autoplay; encrypted-media" allowfullscreen></iframe>
            {% endif %}
            <p id="preview-content"></p>
        </div>
    </div>

    <div class="col-sm-6">
        <h1>Create Blog</h1>

        <form class="py-4" method="post" action="" enctype='multipart/form-data'>
            {% csrf_token %}

            {{ form|crispy }}
            <button class="btn btn-secondary my-2" type="submit">{% if instance %}Update{% else %}Create{% endif %}</button>
            {% if instance %}
            <a href="{{ instance.get_absolute_url }}/delete" class="btn btn-danger" role="button">Delete</a>
            {% endif %}
        </form>

    </div>

</div>
<hr>
{% endblock content %}



